/* -*- javascript -*- */

h1 {
    text-align: center;
    padding-bottom: 0.1em;
    background: red;
    border-bottom: 4px solid black;
    margin: 0px;
}

a {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: red ! important;
}

div.controls {
    text-align: center;
    background: #98FB98;
    margin: 0px;
}

div.controls p {
    margin: 0px;
}

hr {
    display: none;
}

form {
    display: inline;
}

div.search br {
    display: none;
}

div.name-entry br {
    display: none;
}

div.name-entry form {
    margin-top: 1em;
}

div.history-page {
    margin-top: 1em;
}

ol, ul {
    margin: 0px;
}

div.history ol {
    font-size: small;
    list-style-type: none;
    padding: 0px;
}

div.searchResults {
    font-size: small;
}

div.now-playing, div.playlistQueue {
    font-size: small;
}

div.volume-control {
    text-align: center;
}

span.parts span.p0 {
    background: yellow;
}

span.parts span.p1 {
    background: #ffeeee;
}

.trackUrlLink {
    margin-left: 0.5em;
    color: grey;
    text-decoration: none;
}

abbr {
    border: none;
}

h2, div.paneLabel {
    border-bottom: 1px solid black;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 0.5em;
/*
    background-color: #88f;
    color: white;
    border: solid black 1px;
    padding: 0.3em;
    height: 1em;
    margin-top: 2px;
    margin-bottom: 2px;
*/
}

div.paneBody {
    padding: 0.3em;
}

div.playlistQueue {
    height: 6em !important;
    overflow: auto;
}

.inactive-volume-tick {
    color: blue;
    cursor: pointer;
}

.active-volume-tick {
    color: red;
    cursor: pointer;
}

.action-span {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

a:hover, {
    color: red ! important;
}

div.folderHeading {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: solid #ccc 1px;
}

a.folderLink {
    color: #888;
    text-decoration: none;
}
