/* -*- javascript -*- */

body, td {
    background: #ffffff;
    font-size: 10pt;
}

h1 {
    text-align: center;
    padding-bottom: 0.1em;
    background: #98FB98;
    border-bottom: 4px solid black;
    margin: 0px;
}

a {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: red ! important;
}

div.controls {
    text-align: center;
    background: #98FB98;
    margin: 0px;
}

div.controls p {
    margin: 0px;
}

hr {
    display: none;
}

form {
    display: inline;
}

div.search br {
    display: none;
}

div.name-entry br {
    display: none;
}

div.name-entry form {
    margin-top: 1em;
}

div.history-page {
    margin-top: 1em;
}

ol, ul {
    margin: 0px;
}

div.history ol {
    list-style-type: none;
    padding: 0px;
}

div.searchResults {
}

div.now-playing, div.playlistQueue {
}

table.volume-control {
    margin-left: auto;
    margin-right: auto;
}

td#volume {
    width: 5em;
    text-align: right;
}

td#volume-indicator {
    width: 5em;
    text-align: left;
}

td#volume-who {
    color: grey;
    font-size: 66%;
}

span.parts span.p0 {
    background: yellow;
}

span.parts span.p1 {
    background: #ffeeee;
}

.trackUrlLink {
    margin-left: 0.5em;
    color: grey;
    text-decoration: none;
}

.trackUsername {
    color: grey;
    font-size: 66%;
}

abbr {
    border: none;
}

#statuspanel ol li {
    clear: both;
}

.queue-buttons {
    float: left;
}

.jukeboxTrack {
    margin-left: 10px;
}

#history .jukeboxTrack {
    margin-left: 0;
}

#history .while-listening {
    font-size: 0.8em;
    color: grey;
}

#history .skip {
    background: yellow;
    font-weight: bold;
    padding: 2px;
}

#history .http-error {
    color: red;
    font-family: monospace;
}

#history .error {
    font-size: 0.8em;
    color: grey;
    font-family: monospace;
}

.jukebox-track-large {
    margin-left: 0px;
}

.jukebox-track-large .img-holder {
    float: left;
    margin-right: 5px;
    width: 96px;
    height: 96px;
}

.jukebox-track-small {
    margin-bottom: 2px;
}

.jukebox-track-small .img-holder {
    float: left;
    margin-left: 10px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
}

.jukebox-track-small img {
    width: 40px;
    height: 40px;
}

h2 {
    border-bottom: 1px solid black;
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 0.5em;
    background-color: #ddf;
/*
    color: white;
    border: solid black 1px;
    padding: 0.3em;
    height: 1em;
    margin-top: 2px;
    margin-bottom: 2px;
*/
}

h3 {
    font-size: 10pt;
}

div.paneBody {
    padding: 0.3em;
}

div.playlistQueue {
    height: 15em;
    overflow: auto;
}

div.history {
    height: 13em;
    margin-bottom: 2px;
    overflow: auto;
}

.inactive-volume-tick {
    color: blue;
    cursor: pointer;
}

.active-volume-tick {
    color: red;
    cursor: pointer;
    background: pink;
}

.action-span {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: red ! important;
}

div.folderHeading {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: solid #ccc 1px;
}

a.folderLink {
    color: #888;
    text-decoration: none;
}

.mainColumn {
    float: right;
    width: 60%;
    left: 100px;
}
.leftColumn {
    float: left;
    width: 40%;
}
.columnClear {
    clear: both;
}

.spacerText {
    display: none;
}

.cachingIndicator {
    color: red;
    font-size: 66%;
}

.playlistQueue ol { list-style-type: none; padding: 0px; padding-left: 0.5em; }
.searchResults ul { list-style-type: none; padding: 0px; padding-left: 0.5em; }

.dequeueButton { background: url(icons/smallX.png) no-repeat; margin-right: 5px; }
.upButton { background: url(icons/moveU.png) no-repeat; }
.downButton { background: url(icons/moveD.png) no-repeat; }
.enqueueButton { background: url(icons/atBot.png) no-repeat; margin-right: 5px; }
.atTopButton { background: url(icons/atTop.png) no-repeat; }
.imageButton {
    width: 11px;
    border: 0px;
    overflow: hidden;
    background-position: 0 3px;
    text-indent: -9000px;
}

.enqueueButton {
    width: auto;
    text-indent: 10px;
    padding: 0px;
}

dd {
    margin-bottom: 1em;
}

span.rootCount {
    font-family: mono;
}

#history .when {
    font-size: 0.8em;
    color: #888;
}

#history .who {
    font-weight: bold;
}
